 * This CSS file defines the style for index.html Assignment#1

*/

body {
  background-color: lightblue;
}

h1 {
  background-color: #2471e5;
  color: hsl(239deg 50% 47%);
  padding: 40px;
  text-align: center;}

p {
  background-color: #2e6dff;}

ul {
  color: whitesmoke;}

ul li::before {
  content: "✅";}

table {
  border: solid thin;}

th {
  height: 2rem;
  background: deepskyblue;
  border: 1px black;
  text-align: left;}

td {
  height: 2rem;
  background: deepskyblue;
  border: 1px black;
  text-align: center;}
